/*Utils*/
.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}

/*General styles*/

:root {
    --W: 30vw;
    --BG: lightgrey;
    --M: 5px 0;
    /*Border radius*/
    --BR: 5px;
    /*Border*/
    --BORDER: 7vw;
    --B: solid grey 2px;
}

html {
    scroll-behavior: smooth;
    font-family: "Oswald", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    margin-top: 50px;
    height: 100%;
}

.about_a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

.about_a:any-link {
    color: #666666;
}

.about_a:hover {
    color: #EBEBEB;
}

.about_header {
    color: white;
    background: #666666;
    text-align: center;
    height: 20vh;
    line-height: 20vh;
    font-size: 3rem;
    text-transform: uppercase;
}

.about_title {
    max-width: 320px;
    font-size: 72px;
    line-height: 60px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 8px solid black;
    margin-left: var(--BORDER);
    margin-bottom: 5vh;
    margin-top: 5vh;
}

#about {
    margin-bottom: 0;
}

#about_buran_img {
    background-image: url("images/buran_img_1513x429.jpg");
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.397);
    color: black;
}

#about_buran_color {
    background-color: rgba(64, 185, 221, 0.584);
    padding: var(--BORDER);
}

.about_p {
    font-size: 1.3rem;
    line-height: 1.5;
    text-align: justify;
    text-indent: 3rem;
}

.about_li {
    list-style-type: none;
    display: flex;
    border-bottom: 1px solid #EBEBEB;
}

.about_li:nth-child(2n) {
    flex-direction: row-reverse;
}

.listElement {
    text-indent: 0;
    border-left: 0;
    width: 100%;
    height: fit-content;
    margin: auto;
}

.about_container {
    border-left: var(--BORDER) solid white;
    border-right: var(--BORDER) solid white;
}

.about_icon {
    height: 10vh;
    width: auto;
    margin: 5vh;
    border-radius: 15%;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.hidden {
    opacity: 0;
    filter: blur(4px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media screen and (max-width: 470px) {
    .about_title {
        width: 290px;
    }

    .about_ul {
        padding-inline-start: 0;
    }

    .about_container {
        border: 0;
    }

    .about_icon {
        margin: 5vw;
    }
}

@media screen and (min-width: 650px) {
    .about_header::before {
        content: "Наша ";
    }
}

/* Footer */
.footer {
    background-color: var(--BG);
}

.section_footer {
    position: relative;
    border-left: 13vw;
    border-right: 13vw;
    margin-left: 7vw;
    margin-right: 7vw;
}

.footer_h2 {
    max-width: 350px;
    width: 100%;
    font-size: 32px;
    line-height: 40px;
    font-weight: bold;
    padding-top: 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    border-bottom: 4px solid black;
}

.formContact_input {
    font-family: inherit;
    outline: none;
    padding: 10px;
    display: block;
    border: none;
    border-bottom: solid black 2px;
    border-radius: var(--BR);
    height: 30px;
    width: 95%;
    margin: 10px auto;
    background-color: whitesmoke;
}

.formFeedback_input {
    font-family: inherit;
    outline: none;
    display: block;
    padding: 10px;
    border: none;
    border-bottom: solid black 2px;
    border-radius: var(--BR);
    height: 30px;
    width: 95%;
    margin: 10px auto;
    background-color: whitesmoke;
}


.formContact {
    grid-area: form;
}

.form_feedback {
    grid-area: form;
}

.formContact, .form_feedback {
    display: none;
    margin: 5px;
    font-family: inherit;
    background-color: white;
    border-radius: 10px;
}


.section_contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
    "form  fig"
    "form  fig";
    gap: 0.2em;
}

.navbar {
    border: 4px solid black;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: black;
    z-index: 99999999;
    overflow: hidden;
}

#navbar-brand {
    border: 2px solid black;
    background-color: black;
    width: 60px;
}

#navbar-brand img {
    height: 50px;
    width: 50px;
    float: left;
    margin-left: 3px;
    margin-top: -7px;
    position: relative;
}

.navbar_buttons {
    width: 100%;
    text-align: center;
}

#main_a, #about_a, #history_button, #team_a, #projects_a, #services_a, #contacts_a {
    border: 2px black;
    background-color: black;
    width: 150px;
    height: 42px;
    float: none;
    display: inline-flex;
    text-decoration: none;
}


#main_txt, #about_txt, #history_txt, #team_txt, #projects_txt, #services_txt, #contacts_a {
    font-weight: bold;
    font-size: 20px;
    font-family: Oswald, sans-serif;
    color: #e8e8e8;
}

#main_txt:hover, #about_txt:hover, #history_txt:hover, #team_txt:hover, #projects_txt:hover, #services_txt:hover {
    color: #42b8dd;
    font-weight: bold;
    font-size: 20px;
    font-family: Oswald, sans-serif;
}

#main_txt:active, #about_txt:active, #history_txt:active, #team_txt:active, #projects_txt:active, #services_txt:active {
    color: blue;
    font-weight: bold;
    font-size: 20px;
    font-family: Oswald, sans-serif;
}

.dropbtn {
    display: none;
    color: white;
    padding: 2px;
    height: 46px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
}

.dropdown {
    position: relative;
    display: none;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show_dropdown {
    display: block;
}

.dropdown_container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}
#main {
    height: 70%;
}

.video {
    display: none;
}

#video {
    width: 100%;
    height: 100%;
    position: relative;
    border: none;
}
.video_click {
    height: 100%;
    position: relative;
}

.video_click img {
    width: 13%;
    height: 13%;
    margin-right: 2%;
    margin-top: 2%;
    display: inline-block;
}

.video_click_text {
    display: inline-block;

}

.video_click_text span {
    font: inherit;
    font-size: 300%;
    width: 85%;
}
.video_click_text div {
    text-align: left;
    width: 100%;
}

.video_click_button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 65%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
}

.video_click_button:hover .video_click_button:active {

}

.click_button_hide {
    display: none;
}

.video_show {
    display: block;
}


.footer_bottom {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: rgb(24, 23, 23);
    color: rgb(255, 255, 255);
}

.arrow {
    left: 45%;
    color: whitesmoke;
    text-decoration: none;
}

.footer_a:hover, a:active {
    color: blue;
    text-decoration: none;
}


.formContext_textarea {
    font-family: inherit;
    border: none;
    border-bottom: solid black 2px;
    outline: none;
    width: 95%;
    display: block;
    height: 50px;
    resize: none;
    overflow-y: hidden;
    padding: 5px;
    margin: 15px auto;
    border-radius: 5px;
    background-color: whitesmoke;
}

/*iframe*/
.figure {
    row-span: 2;
    grid-area: fig;
}

.iframe {
    margin: 5px;
    max-width: 100%;
    height: 20vh;
}

.container_icons {
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_submit, .button_show {
    margin: 2px 15px;
    border-radius: var(--BR);
    padding: 10px;
    border: none;
    border-bottom: solid black 1px;
}


.social_icon {
    border-radius: var(--BR);
    width: clamp(1rem, 3vw, 1.5rem);
    margin: 5px 10px;
    max-width: 40px;

}

.bottom_menu {
    display: flex;
    justify-content: center;
    gap: 5px 20px;
    flex-wrap: wrap;
}

.footer_a:hover, .footer_a:any-link {
    color: cornsilk;
    text-decoration: none;
}


@media screen and   (max-width: 800px) {
    .section_contact {
        grid-template-columns: 1fr;
        grid-template-areas: "form"
                             "fig";
    }
}

article#team {
    width: 100%;
}

article#team > section {
    display: flex;
    justify-content: center;
    width: 100%;
}

article#team > section > .container {
    margin: 30px 15px;
}

article#team > section.header {
    padding-top: 50px;
    color: white;
    background: #666666;
}

article#team > section.header > .container {
    text-align: center;
}

article#team > section.main {
    margin-top: 100px;
}

.title {
    max-width: 370px;
    width: 100%;
    font-size: 3em;
    line-height: 60px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 8px solid black;
}

#team_h2 {
    margin-left: calc(7vw - 15px);
}


.slider > .slider-container {
    /*noinspection CssInvalidPropertyValue*/
    overflow-x: visible clip;
    transition: height .5s ease;
    position: relative;
    cursor: pointer;
    user-select: none;
    touch-action: none;
}

.slider > .slider-container > .slider-item {
    transition: opacity .5s ease, transform .1s linear;
    opacity: 1;
}

.slider > .slider-container > .slider-item:not(.active) {
    transition: opacity .5s ease, transform 0s linear;
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.slider > .slider-buttons {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.slider > .slider-buttons > .slider-button {
    transition: background-color .5s linear;
    transform: scale(1);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
}

.slider > .slider-buttons > .slider-button:hover {
    transition: background-color .1s linear;
    background-color: #fff7;
}

.slider > .slider-buttons > .slider-button.active {
    background: white;
}

.quotes .slider-container {
    width: 100%;
    max-width: 770px;
}

.quotes .quote > .content {
    font-size: 36px;
}

.quotes .quote > .author > .avatar {
    margin: 15px auto 5px;
    width: 70px;
    height: 70px;
    background: #cccccc;
    border-radius: 50%;
}

.quotes .quote > .author > .name {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}

.team-cards {
    padding: 7vw;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.team-card {
    flex-basis: calc(1 / 3 * 100% - 20px);
}

.team-card > .header {
    display: flex;
    align-items: center;
}

.team-card > .header > .avatar {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    background: #cccccc;
}

.avatar#kyryl {
    background: url("images/kyryl.png") no-repeat center;
    background-size: cover;
}

.avatar#maslow {
    background: url("images/maslow.png") no-repeat center;
    background-size: cover;
}

.avatar#luba {
    background: url("images/luba.png") no-repeat center;
    background-size: cover;
}

.avatar#semen {
    background: url("images/semen.png") no-repeat center;
    background-size: cover;
}

.avatar#mazur {
    background: url("images/mazur.png") no-repeat center;
    background-size: cover;
}

.team-card > .header > .socials {
    display: flex;
    gap: 10px;
    position: relative;
    left: -20px;
}

.team-card > .header > .socials > * {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #42b8dd;
    font-size: 25px;
    text-decoration: none;
    color: white;
    font-family: "FontAwesome", sans-serif;
}

.team-card > .header > .socials > .twitter:after {
    content: "\f099";
}

.team-card > .header > .socials > .facebook:after {
    content: "\f39e";
}

.team-card > .header > .socials > .instagram:after {
    content: "\f16d";
}

.team-card > .content {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.team-card > .content > .name {
    font-size: 20px;
    font-weight: bold;
    color: #42b8dd;
    text-transform: uppercase;
    margin: 40px 0 10px;
}

.team-card > .content > .position {
    font-size: 16px;
    font-weight: 300;
    color: #898989;
}

.team-card > .content > .description {
    margin-top: 20px;
    font-size: 16px;
}

@media screen and (max-width: 1200px) {
    .team-card > .header > .avatar {
        height: 130px;
        width: 130px;
    }
}

@media screen and (max-width: 1024px) {
    .team-cards {
        flex-wrap: wrap;
    }

    .team-card {
        flex: auto;
        max-width: 600px;
    }

    .team-card > .content {
        margin-left: 60px;
    }
}

@media screen and (max-width: 425px) {
    .quotes .quote > .content {
        font-size: 30px;
    }

    .team-card > .header {
        justify-content: center;
    }

    .team-card > .content {
        margin-left: 30px;
    }

    .team-card > .content > .name {
        margin-top: 20px;
    }
}

.slide-left {
    animation: slideLeft ease .5s forwards;
}

@keyframes slideLeft {
    0% {
        transform: translateX(-50px);
    }
    100% {
        transform: translateX(0px);
    }
}

.slide-right {
    animation: slideRight ease .5s forwards;
}

@keyframes slideRight {
    0% {
        transform: translateX(50px);
    }
    100% {
        transform: translateX(0px);
    }
}

/* perfomance & service */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

ol, ul {
    list-style: none;
}


html {
    font-family: "Oswald", sans-serif;
    height: 100%;
}

.perfomance {
    background-color: #EBEBEB;
    padding: 7vw;
}

.article {
    margin: 0 0 3vw 0;
    width: 33%;
    font-size: 2.25em;
    font-weight: 700;
    border-bottom: 5px solid black;
}

.article h2 {
    margin: 4px;
}

.circular_image {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #42B8DD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills_image {
    height: 40px;
    width: 40px;
}

#perfomance_data {
    display: flex;
    justify-content: space-around;
    margin-top: 7vw;
}

#perfomance_data h3 {
    margin: 20px;
    font-size: 1.27em;
    text-align: center;
    color: #42B8DD;
}

#perfomance_data section {
    width: 33%;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
}

#perfomance_data ul {
    font-size: 1.15rem;
}

#perfomance_data li {
    padding: 2px;
    margin: 5px;
}

.quantity {
    font-size: 1.3rem;
    margin: 3px;
    color: #666666;
}

.service_wrapper {
    padding: 7vw;
}

.service {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 250px;
    margin: 0;
}

.wrapper .card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 250px;
    flex-direction: column;
}

.service_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100px;
    height: 100px;
    border: 7px solid #42B8DD;
    border-radius: 100%;

}


.card:nth-of-type(1) .service_circle {
    /* Halve the circle */
    border-top-color: transparent;
    transform: rotate(-45deg);
}

.card:nth-of-type(2) .service_circle {
    border-left-color: transparent;
    /* border-right-color: transparent; */
    border-bottom-color: transparent;
    border-top-color: transparent;
    transform: rotate(-45deg);
}

.card:nth-of-type(3) .service_circle {
    border-bottom-color: transparent;
    border-left-color: transparent;
    transform: rotate(-45deg);

}


.service_label {
    text-align: center;
    color: #666666;
    margin: 15px
}

.card .counter {
    font-size: 1.15em;
    color: #42B8DD;
    transform: rotate(45deg);
}

#service_text {
    color: #666666;
    font-weight: 200;
}

#side_wrapper {
    margin-left: 1vw;
    color: #666666;
    font-size: 1.05rem;
    padding: 2vw;
}

#service_h3 {
    text-align: center;
    color: #42B8DD;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1.75vw;
}

.inside_text {
    font-weight: 300;
    margin-bottom: 1vw;
    margin-top: 1vw;
}

.img_text img {
    margin-right: 5px;
}

.img_text {
    color: #42B8DD;
}

.inline_text {
    display: inline;
    color: #666666;
}

.side_text {
    padding: 10px;
    border-bottom: 1px solid #EBEBEB;
}

#about_h2 {
    margin-left: var(--BORDER);
    margin-down: 50px;
    padding-top: 50px;
}

.footer_company{
    margin: var(--M) 0;
}

@media (max-width: 936px) {
    #perfomance_data section {
        margin-top: 3vw;;
    }

    .article {
        width: 50%;
        font-size: 1.9em;
    }

    #perfomance_data ul {
        text-align: center;
    }

    .service {
        flex-direction: column;
    }

    #side_wrapper {
        margin-top: 5vw;
        margin-left: 0;
        padding: 0;
    }

}


@media (max-width: 610px) {
    #perfomance_data {
        flex-direction: column;
        align-items: center;
    }

    .article {
        width: 66%;
        font-size: 1.7em;
    }

    #perfomance_data h3 {
        margin: 5px;
        text-align: center;
        color: #42B8DD;
    }

    #perfomance_data ul {
        display: flex;
        list-style: none;
    }

    #perfomance_data span {
        display: block;
    }

    #perfomance_data li {
        margin: 3vw;
    }
}

@media (max-width: 450px) {
    .circular_image, .service_circle {
        width: 80px;
        height: 80px;
    }

    .article {
        width: 90%;
    }
}


@media (max-width: 300px) {
    .circular_image, .service_circle {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 1050px) {
    #navbar-brand {
        display: none;
    }

    #main_a, #about_a, #history_button, #team_a, #projects_a, #services_a {
        margin-top: 0;
    }
}

@media (max-width: 1000px) {
    .navbar_buttons {
        display: none;
    }

    .dropdown {
        display: inline-block;
    }
}