
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Utils*/
.nowrap{
    white-space: nowrap;
}
.center{
    text-align: center;
}

/*General styles*/

:root {
    --B: solid grey 2px;
    --W: 30vw;
    --BG: lightgrey;
    --M: 5px 0;
    /*Border radius*/
    --BR: 5px;
}

html {
    scroll-behavior: smooth;
}

/* Footer */

.footer {
    background-color: var(--BG);
    font-family: "Proxima Nova", sans-serif;
    -webkit-font-smoothing: antialiased;
}

.section_footer {
    position: relative;
    border-left: 13vw;
    border-right: 13vw;
    margin-left: 13vw;
    margin-right: 13vw;
}

.footer_h2 {
    max-width: 350px;
    width: 100%;
    font-size: 32px;
    line-height: 40px;
    font-weight: bold;
    margin-bottom: 1rem;
    text-transform: uppercase;
    border-bottom: 4px solid black;
}

.formContact_input {
    font-family: inherit;
    outline: none;
    padding: 10px;
    display: block;
    border:none;
    border-bottom:solid black 2px;
    border-radius: var(--BR);
    height: 30px;
    width: 95%;
    margin:10px auto;
    background-color: whitesmoke;
}

.formFeedback_input {
    font-family: inherit;
    outline: none;
    display: block;
    padding: 10px;
    border:none;
    border-bottom:solid black 2px;
    border-radius: var(--BR);
    height: 30px;
    width: 95%;
    margin:10px auto;
    background-color: whitesmoke;
}


.formContact {
    grid-area: form;
}

.form_feedback {
    grid-area: form;
}

.formContact, .form_feedback {
    display: none;
    margin: 5px;
    font-family: inherit;
    background-color: white;
    border-radius: 10px;
}


.section_contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
    "form  fig"
    "form  fig";
    gap: 0.2em;
}

.footer_bottom {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: rgb(24, 23, 23);
    color: rgb(255, 255, 255);
}

.arrow {
    left: 45%;
    color: whitesmoke;
    text-decoration: none;
}

a:hover, a:active {
    color: blue;
    text-decoration: none;
}


.formContext_textarea {
    font-family: inherit;
    border:none;
    border-bottom:solid black 2px;
    outline: none;
    width: 95%;
    display: block;
    height: 50px;
    resize: none;
    overflow-y: hidden;
    padding: 5px;
    margin: 15px auto;
    border-radius: 5px;
    background-color: whitesmoke;
}

/*iframe*/
.figure {
    row-span: 2;
    grid-area: fig;
}

.iframe {
    margin: 5px;
    height: 20vh;
}

.container_icons {
    margin: 5px 0;
    display: grid;
    grid-template-columns: repeat(4, 5vw);
    align-items: center;
    justify-content: center;
}

.button_submit, .button_show {
    margin: 2px 15px;
    border-radius: var(--BR);
    padding: 10px;
    border: none;
    border-bottom: solid black 1px;
}


.social_icon {
    border-radius: var(--BR);
    width: 2vw;
}
.bottom_menu{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6,1.5fr);
}

a:hover,a:any-link{
    color: cornsilk;
    text-decoration: none;
}


@media screen and   (max-width: 800px) {
    .section_contact
    {
    grid-template-columns: 1fr;
        grid-template-areas: "form"
                             "fig";
    }
}

